<header th:fragment="navbar" class="container">
    <nav>
        <ul>
            <li>
                <a th:href="@{/todos}"><strong>TODOアプリ</strong></a>
            </li>
        </ul>
        <ul>
            <li><a th:href="@{/todos}">ホーム</a></li>
            <li><a th:href="@{/todos/new}">TODO追加</a></li>
        </ul>
        <ul>
            <li>
                <details class="dropdown">
                    <summary role="button">
                        <span sec:authentication="principal.name"></span>さん
                    </summary>
                    <ul>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit">ログアウト</button>
                            </form>
                        </li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>
</header>
